body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    color: #D6D58E;
    background: #042940;
}

main {
    height: 100%;
    width: 100%;
    background: #042940;
    max-width: 1400px;
    margin: auto;
    display: flex;
    gap: 10px;
    padding: 50px;
}

textarea:focus,
input:focus,
select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.decodificador {
    height: 90%;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.decodificador img {
    width: 100px;
    padding: 40px 0 0 90px;
}

.decodificador #input_text {
    margin: auto;
    width: 80%;
    height: 50%;
    padding-left: 20px;
    font-size: 1.5em;
    border-radius: 50px;
    border: none;
    color: #D6D58E;
    background: #042940;
}

.decodificador .buttons {
    text-align: center;
    padding: 40px;
}

.decodificador p {
    padding: 10px;
}

.buttons .button_crip,
.buttons .button_desc,
.button_resultado button {
    padding: 20px;
    margin: 5px;
    border-radius: 50px;
    width: 40%;
    font-size: 1em;
    font-weight: bold;
    background: #D6D58E;
    box-shadow: 3px 3px 20px 2px #d6d58e53;
    border: none;
}

.buttons .button_crip:hover,
.buttons .button_desc:hover,
.button_resultado button:hover {
    background: #807f54;
}

.buttons .button_crip:active,
.buttons .button_desc:active,
.button_resultado button:active {
    box-shadow: 5px 5px 20px 3px #d6d58e53;
    border: 1px solid #00000089;
}

.resultado {
    height: 90%;
    width: 25%;
    box-sizing: border-box;
    margin: 20px;
    border-radius: 20px;
    background: #074369;
    padding: 40px;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#texto_resultado {
    background: #074369;
    border: none;
    color: #D6D58E;
    font-size: 1.2em;
}

.resultado h2 {
    font-size: 1.6em;
    line-height: 1.5em;
    text-align: center;
    padding: 40px 0 40px 0;
}

.resultado p {
    font-size: 1em;
    text-align: center;
}

.button_resultado button {
    width: 90%;
}

@media (max-width: 991.98px) {
    body {
        height: 100%;
    }

    main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        padding: 40px 10px 40px 0;
        margin: auto;
    }

    .decodificador {
        margin: auto;
        width: 100%;
        height: 100vh;
    }

    .decodificador img {
        padding: 20px 0 0 70px;
    }

    .decodificador #input_text {
        height: 200px;
        font-size: 1.4em;
    }

    .buttons {
        margin-bottom: 20px;
    }

    .buttons .button_crip,
    .buttons .button_desc,
    .button_resultado button {
        font-size: 0.9em;
    }

    .resultado {
        margin: auto;
        width: 80%;
        height: 90vh;
        text-align: center;
    }

    #texto_resultado {
        height: 600px;
        background: #074369;
    }

    .resultado h2 {
        font-size: 1.5em;
        padding: 0;
        margin: 0;
    }

    .resultado p {
        font-size: 0.9em;
        padding: 10px;
    }
}

@media (max-width: 767.98px) {
    .decodificador img {
        padding: 20px 0 0 60px;
    }

    .decodificador #input_text {
        font-size: 1.3em;
    }

    .decodificador .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .buttons .button_crip,
    .buttons .button_desc,
    .button_resultado button {
        width: 100%;
        margin: auto;
        margin: 5px;
        font-size: 0.8em;
    }

    .resultado h2 {
        font-size: 1.4em;
    }

    .resultado p {
        font-size: 0.8em;
    }
}

@media (max-width: 575.98px) {
    .main {
        padding-bottom: 10px;
        margin-bottom: 0;
    }

    .decodificador img {
        padding: 20px 0 0 50px;
    }

    .decodificador #input_text {
        font-size: 1.2em;
    }

    .buttons .button_crip,
    .buttons .button_desc,
    .button_resultado button {
        font-size: 0.7em;
    }

    section .resultado {
        height: 100px;
        width: 100px;
        padding: 10px;
    }

    .resultado h2 {
        font-size: 1.3em;
    }

    .resultado h1 {
        padding: 0;
        margin: 0;
    }

    .resultado p {
        font-size: 0.7em;
    }
}